@{
    ViewData["Title"] = "Hi There!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to STL Food Truck Favorites</h1>
    <p>Your hub for finding food trucks in your area.</p>
    <p>Highlighted Food Truck</p>
    <p>See a list of food trucks</p>
    <p>See a map of food truck locations</p>
</div>
