@{
    ViewData["Title"] = "Hi There!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to STL Food Truck Favorites</h1>
    <p>Your hub for finding food trucks in your area.</p>
    <img src="~/dog.png" />
</div>
